<h1>Rejestracja nowego użytkownika</h1>
<p>Domyslnie wszystkie Twoje dane widoczne będą dla wszystkich zarejestrowanych użytkowników. 
Po rejestracji możesz dokonać zmiany widocznosci poszczególnych pól </p>
  <%= form_for @user do |f| %>
    <p>
      Login <br />
      <%= f.text_field :login %> <br />
    </p>

    <p>
      E-mail<br />
      <%= f.text_field :email%> <br />
    </p>
    
    <p>
      Imię<br />
      <%= f.text_field :name %> <br />
    </p>

    <p>
      Nazwisko<br />
      <%= f.text_field :surname%> <br />
    </p>

    <p>
      Hasło <br />
      <%= f.password_field :password %> <br />
    </p>

    <p>
      Hasło ponownie<br />
      <%= f.password_field :password_confirmation %> <br />
    </p>
    <p>
	<%= f.label :avatar_url, "Avatar"%>
	<%= f.file_field :avatar_url %>
    </p>
    <p><%= f.submit "Rejestruj" %></p>
<% end %>

