<p>

<table>
   <tr><td> Nazwa Wydarzenia: </td><td> <%= @event.name %> </td></tr>
   <tr><td> Opisr: </td><td> <%= @event.description %> </td></tr>
</table>
<table>
  <% @event.tags.each do |tag| %>
    <tr><td><%= tag.name %> </td></tr>
  <% end %>
</table>
</p>
<%= form_tag :controller => "tags", :action => "addtags" do %>
  <%= text_field_tag(:names) %>
  <%= hidden_field_tag(:event_id, @event.id) %>
  <%= hidden_field_tag(:user_id, @current_user.id) %>
  <%= submit_tag("dodaj") %>
<%end%>
